# <font color = "pink">Using Lists,Tuples,dictionaries (simple data structures)</font> 
<img src ="https://th.bing.com/th/id/R.57aea0d4405273ff04983853d0dfacdc?rik=oK17AsRROZK%2fUA&pid=ImgRaw&r=0" height =200 width =300>

In [5]:
friends = ["john", "joan", "alex", "kamau", "ivy"]
ages = [23,54,76,11,90]
friends[1]

'joan'

In [6]:
import pandas as pd

dt = pd.DataFrame(friends,columns = ["friends_name"])
dt["ages"] = ages
dt

  friends_name  ages
0         john    23
1         joan    54
2         alex    76
3        kamau    11
4          ivy    90

In [10]:
# learn ten new things each day and add them to github
# eg learn list indexing, list slicing,list appending
friends.append("Wanjiru")
print(friends)
# learn what are tuples
y = (10,16,89) # tuple
# learn what are dictionaries
prices = {"Unga":200,"CD":300,"TV":19000}
prices["Unga"]
# learn what are sets

['john', 'joan', 'alex', 'kamau', 'ivy', 'Wanjiru', 'Wanjiru']

200

In [ ]:
#create new repository add data
# learn cloning git repos