## <font color = "purple"> Exploratory Data Analysis </font>

In [1]:
# Import libaries 
import pandas as pd
import os

In [2]:
# Read the data
os.listdir("data")
df = pd.ExcelFile("data/AGO STOCK MOVEMENT 2015.xlsx")
print(df.sheet_names)

# January data
jan = pd.read_excel(df, "JANUARY 2015", skiprows=5)
jan = jan[["DATE", "SALES"]]
jan = jan.iloc[0:32,:]
jan.tail()

['JANUARY 2015', 'FEBRUARY 2015', 'MARCH 2015', 'APRIL 2015', 'MAY 2015', 'JUNE 2015', 'JULY 2015', 'AUGUST 2015', 'SEPTEMBER 2015']

         DATE    SALES
27 2015-01-27  6870.83
28 2015-01-28  6042.06
29 2015-01-29  5947.24
30 2015-01-30  6324.38
31 2015-01-31  4880.65

In [3]:
# February data
feb = pd.read_excel(df, "FEBRUARY 2015", skiprows=5)
feb = feb[["DATE","SALES"]]
feb = feb.iloc[0:29,:]
feb.head()
# Concatinating the two
final= pd.concat([jan, feb])
final.shape

(61, 2)

In [4]:
# Using a for loop to concatenate the sheets
# Define the sheet names

file_path = "data/AGO STOCK MOVEMENT 2015.xlsx"
sheet_names = ['JANUARY 2015', 'FEBRUARY 2015', 'MARCH 2015', 'APRIL 2015', 'MAY 2015', 'JUNE 2015', 'JULY 2015', 'AUGUST 2015', 'SEPTEMBER 2015']

# Loop through the sheets
for sheet_name in sheet_names:
    df = pd.read_excel(file_path, sheet_name, skiprows=5)
    df = df[["DATE", "SALES"]].iloc[0:32,:]
    
    print(f"Cleaned data for {sheet_name}:")
    print(df.head())

Cleaned data for JANUARY 2015:
        DATE    SALES
0        NaT      NaN
1 2015-01-01  3171.43
2 2015-01-02  3843.45
3 2015-01-03  3556.74
4 2015-01-04  3482.36
Cleaned data for FEBRUARY 2015:
        DATE    SALES
0        NaT      NaN
1 2015-02-01  3843.45
2 2015-02-02  6123.17
3 2015-02-03  6230.18
4 2015-02-04  6190.34
Cleaned data for MARCH 2015:
        DATE    SALES
0        NaT      NaN
1 2015-03-01  4161.81
2 2015-03-02  5870.90
3 2015-03-03  7548.27
4 2015-03-04  6504.96
Cleaned data for APRIL 2015:
        DATE    SALES
0        NaT      NaN
1 2015-04-01  6299.96
2 2015-04-02  6131.55
3 2015-04-03  4756.41
4 2015-04-04  4300.30
Cleaned data for MAY 2015:
        DATE    SALES
0        NaT      NaN
1 2015-05-01  4388.42
2 2015-05-02  5265.14
3 2015-05-03  4013.05
4 2015-05-04  6162.80
Cleaned data for JUNE 2015:
                  DATE    SALES
0                  NaN      NaN
1  2015-06-01 00:00:00  5406.31
2  2015-06-02 00:00:00  6971.26
3  2015-06-03 00:00:00  8070.08
4  2015-06-04 00:00:00  6634.59
Cleaned data for JULY 2015:
                  DATE    SALES
0                  NaN      NaN
1  2015-07-01 00:00:00  7118.63
2  2015-07-02 00:00:00  6962.82
3  2015-07-03 00:00:00  6078.78
4  2015-07-04 00:00:00  5965.71
Cleaned data for AUGUST 2015:
                  DATE    SALES
0                  NaN      NaN
1  2015-08-01 00:00:00  4902.09
2  2015-08-02 00:00:00  4113.77
3  2015-08-03 00:00:00  6673.58
4  2015-08-04 00:00:00  6903.88
Cleaned data for SEPTEMBER 2015:
                  DATE    SALES
0                  NaN      NaN
1  2015-08-01 00:00:00  7280.22
2  2015-08-02 00:00:00   6346.7
3  2015-08-03 00:00:00  6035.29
4  2015-08-04 00:00:00  6242.08