In [2]:
import tabula
import os
import matplotlib.pyplot as plt
from ipywidgets import interact
import warnings
from tabula.io import read_pdf
warnings.simplefilter(action='ignore')
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from wordcloud import WordCloud
os.listdir("2020_statements")

['Statement_All_Transactions_20220630_20221231.pdf']

In [3]:
import pandas as pd
# create an empty dataframe that will collect all the data
df  = pd.DataFrame()
for i in os.listdir("2020_statements"):
    
    if ".pdf" in i:
        try:
            print(i)
            #create yet another dataframe that will collect all data from each page
            temp = pd.DataFrame()
            data = read_pdf("2020_statements/" +i, pages='all',password = "",multiple_tables=True)
            print("read...")
            for i in range(1,len(data)):
                temp = pd.concat((data[i],temp),0)
                #print(temp.shape)
            dt = pd.DataFrame(temp)
            df = pd.concat((df,dt),0)
            
            #print(data.head(2))
        except:
            print("cant")
            pass
df.shape

Statement_All_Transactions_20220630_20221231.pdf
read...

(61, 8)

In [4]:
df.head()

,Receipt No,Completion Time,Details,Transaction Status,Paid in,Withdraw\rn,Balance,Unnamed: 0
0,QLQ82671HA,2022-12-26 10:32:24,Merchant Payment Online to 301732 -\rHENRY MUI...,COMPLETED,0.00,600.00,438.01,NaN
1,QLQ5263WPR,2022-12-26 10:31:13,Business Payment from 516601 - DTB\rTouch 24 7...,COMPLETED,"1,000.00",0.00,"1,038.01",NaN
2,QLP6ZRMWKU,2022-12-25 16:06:59,Merchant Payment Online to 865109 -\rDAVID KIN...,COMPLETED,0.00,500.00,38.01,NaN
3,QLP0ZRCPPQ,2022-12-25 16:03:36,Business Payment from 516601 - DTB\rTouch 24 7...,COMPLETED,500.00,0.00,538.01,NaN
4,QLO8Y82YPU,2022-12-24 22:07:52,Airtime Purchase,COMPLETED,0.00,150.00,38.01,NaN

In [5]:
# clean the df

df["Completion Time"] = pd.DatetimeIndex(df["Completion Time"])
df["Month"]= [str(pd.Period(i,freq = "M").year) +"/"+ str(pd.Period(i,freq = "M").month) for i in df["Completion Time"]]
print(df.shape)
dt = df.drop_duplicates()
df.head()

(61, 9)

,Receipt No,Completion Time,Details,Transaction Status,Paid in,Withdraw\rn,Balance,Unnamed: 0,Month
0,QLQ82671HA,2022-12-26 10:32:24,Merchant Payment Online to 301732 -\rHENRY MUI...,COMPLETED,0.00,600.00,438.01,NaN,2022/12
1,QLQ5263WPR,2022-12-26 10:31:13,Business Payment from 516601 - DTB\rTouch 24 7...,COMPLETED,"1,000.00",0.00,"1,038.01",NaN,2022/12
2,QLP6ZRMWKU,2022-12-25 16:06:59,Merchant Payment Online to 865109 -\rDAVID KIN...,COMPLETED,0.00,500.00,38.01,NaN,2022/12
3,QLP0ZRCPPQ,2022-12-25 16:03:36,Business Payment from 516601 - DTB\rTouch 24 7...,COMPLETED,500.00,0.00,538.01,NaN,2022/12
4,QLO8Y82YPU,2022-12-24 22:07:52,Airtime Purchase,COMPLETED,0.00,150.00,38.01,NaN,2022/12

In [6]:
dt.to_excel("EricData.xlsx")